<h2>
    Home
</h2>
<div
    *ngIf="gameSvc.emailAddress.length > 0"
>
    <h4>
        {{ gameSvc.emailAddress }}
        <button
            mat-raised-button
            (click)="resetEmailAddress()"
        >
            Reset
        </button>  
    </h4>
    <h4>
        Total Games Played: {{ gamesPlayed }}
    </h4>
    <h4>
        Shortest Game (minutes): {{ shortestGameDuration }}
    </h4>
    <h4>
        Leaderboard
    </h4>
    <table 
        mat-table 
        [dataSource]="leaderboardData"
        style="width: 100%"
    >
        <ng-container 
            matColumnDef="wins"
        >
            <th 
                mat-header-cell 
                *matHeaderCellDef
            > 
                W 
            </th>
            <td 
                mat-cell 
                *matCellDef="let player"
            > 
                {{player.wins}} 
            </td>
        </ng-container>

        <ng-container 
            matColumnDef="losses"
        >
            <th 
                mat-header-cell 
                *matHeaderCellDef
            > 
                L
            </th>
            <td 
                mat-cell 
                *matCellDef="let player"
            > 
                {{player.losses}} 
            </td>
        </ng-container>

        <ng-container 
            matColumnDef="winningPercentage"
        >
            <th 
                mat-header-cell 
                *matHeaderCellDef
            > 
                AVG 
            </th>
            <td 
                mat-cell 
                *matCellDef="let player"
            > 
                {{player.winningPercentage}} 
            </td>
        </ng-container>    

        <ng-container 
            matColumnDef="name"
        >
            <th 
                mat-header-cell 
                *matHeaderCellDef
            > 
                Player
            </th>
            <td 
                mat-cell 
                *matCellDef="let player"
            > 
                {{player.name}} 
            </td>
        </ng-container>    

        <tr 
            mat-header-row 
            *matHeaderRowDef="leaderboardColumns"
        >
        </tr>
        <tr 
            mat-row 
            *matRowDef="let player; columns: leaderboardColumns"
        >
        </tr>

    </table>
    <button 
        mat-raised-button 
        color="primary"
        routerLink="/setup"
    >
        Play
    </button>    
</div>
<div
    *ngIf="gameSvc.emailAddress.length === 0"
>
    <mat-form-field appearance="fill">
        <mat-label>
            Enter email address
        </mat-label>
        <input 
            matInput
            [(ngModel)]="emailAddressForEditing"
        >
    </mat-form-field>
    <button
        mat-raised-button
        (click)="saveEmailAddress()"
    >
        Save
    </button>    
</div>